<ion-view>
	<ion-nav-title>SurfIT Share Link</ion-nav-title>
	<ion-pane>
		<ion-content>
			<srf-social-share data-config="linkShareCtrl.share"></srf-social-share>
		</ion-content>
	</ion-pane>
</ion-view>