<ion-view class="home-view">
  <ion-nav-title>
    <strong>Bigfoot</strong> | Dashboard
  </ion-nav-title>
  <ion-content class="grey-background">

    <div class="card grid full green" ng-click="changeState('share')">

     <div class="icon-cirlce-wrapper dashboard score absLeft">

        {{totalExplicit}}
       <p>Actual Footprint</p>
      </div>
      <div class="icon-cirlce-wrapper dashboard score preferred absRight">
        {{preferredScore}}
        <p>Perceived Footprint</p>
      </div>
      <div class="">
        Difference: {{diffPerrcent}}
      </div>
      <div class="item item-text-wrap">
        <canvas class="chart chart-doughnut" chart-data="cdata" chart-labels="clabels" chart-options="{showTooltips: false}">
        </canvas>
      </div>


    </div>

    <div class="card grid blue" ng-click="changeState('app.explicit-results')">

      <div class="icon-cirlce-wrapper dashboard">
        <i class="icon float-right-avatar ion-ios-analytics-outline"></i>
      </div>
      <p>Your Results - Report</p>
    </div>
    <div class="card grid second yellow " ng-click="changeState('app.stats')">
      <div class="icon-cirlce-wrapper dashboard">
        <i class="icon float-right-avatar ion-person"></i>
      </div>
      <p>Your Posts</p>
    </div>
    <div class="card grid red" ng-click="changeState('app.friends-stats')">
      <div class="icon-cirlce-wrapper dashboard">
        <i class="icon float-right-avatar ion-person-stalker"></i>
      </div>
      <p>Tagged Posts</p>
    </div>
    <div class="card grid second green" ng-click="changeState('app.page-likes-stats')">
      <div class="icon-cirlce-wrapper dashboard">
        <i class="icon float-right-avatar ion-thumbsup"></i>
      </div>
      <p>Likes</p>
    </div>
    <div class="card grid grey" ng-click="changeState('app.third-party-stats')">
      <div class="icon-cirlce-wrapper dashboard">
        <i class="icon float-right-avatar ion-calendar"></i>
      </div>
      <p>Events</p>
    </div>
    <div class="card grid second blue" ng-click="changeState('app.home')">
      <div class="icon-cirlce-wrapper dashboard">
        <i class="icon float-right-avatar ion-gear-b"></i>
      </div>
      <p>Account</p>
    </div>
   <!-- <div class="card grid second blue" ng-click="showLogOutMenu()">
      <div class="icon-cirlce-wrapper dashboard">
        <i class="icon float-right-avatar ion-android-exit"></i>
      </div>
      <p>Logout</p>
    </div> -->
  </ion-content>
</ion-view>
