<ion-view class="home-view">
    <button id="fab-profile" ng-click="nextPageDashboard()" class="hideScrollBtn button button-fab button-fab-bottom-right button-energized-900"><i class="icon ion-arrow-right-b"></i></button>

    <ion-content class="grey-background results-padding">

      <div class="card grid full results">
        <h3>I checked my digital footprint on bigfoot.ie</h3>
        <p class="black big">I am {{bigfootType}}</p>
        <img class="result small" src="img/{{imgsrc}}">
        <p class="black big">{{bigfootText}}</p>
      </div>

      <div class="card grid full results">
        <h2>Share on:</h2>
        <srf-social-share data-config="shareCtrl.share"></srf-social-share>
      </div>

  </ion-content>
</ion-view>
